.board{
    /* background-color: blanchedalmond; */
    height: 600px;
    width: 620px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #648cad;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.6);
    height: 200px;
    width: 200px;
    padding: 20px;
    font-size: 100px;
    /* To center content */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* pointer-events: none; */
  }

